/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.compare-option-msg {
  color: red;
}

.compare-button {
  background-color: #f75d34;
  border: none;
  box-shadow: none;
  color: white;
}

.comapare-button-disabled {
  opacity: 0.4;
}

.comparison-popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 5px 8px rgb(230 230 230 / 62%);
  border-radius: 5px;
  overflow: hidden;
}

.comparison-popup td {
  border: 1px solid white;
  padding: 20px;
}

.comparison-popup table {
  border-collapse: collapse;
}

.close-popup-button {
  background-color: rgb(247, 93, 52);
  border: none;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.comparison-popup table tr td:nth-child(2) {
  background-color: #eaf0f4;
}

.comparison-popup table tr td:nth-child(3) {
  background-color: #f6eaea;
}

.comparison-popup table tr td:nth-child(4) {
  background-color: #fff4ea;
}
